@import "~antd/dist/antd.css";

#root {
  height: 100vh;
  display: flex;
}

.grid-cell {
  width: 15px;
  height: 15px;
  border: 0.5px solid black;
}

.grid-cell.hovered {
  background-color: #d7cd4e;
}

.grid-cell.alive {
  background-color: #007ea6;
}

.grid-cell.starving {
  background-color: #88a990;
}
